.logo {max-width: 200px}

.container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.main-box {
    border: 1px solid tomato;
}

.bottom-img {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
}